@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-grid-slate-100 {
		background-image:
			linear-gradient(to right, rgb(241 245 249 / 0.2) 1px, transparent 1px),
			linear-gradient(to bottom, rgb(241 245 249 / 0.2) 1px, transparent 1px);
		background-size: 4rem 4rem;
	}

	@keyframes shake {
		0%,
		100% {
			transform: translateX(0);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
			transform: translateX(-4px);
		}
		20%,
		40%,
		60%,
		80% {
			transform: translateX(4px);
		}
	}

	.animate-shake {
		animation: shake 0.5s ease-in-out;
	}
}
